/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Fredoka', sans-serif;
}

body {
    background: #1D2B64;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F8CDDA, #1D2B64);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F8CDDA, #1D2B64);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fontTitle {
    font-family: 'Fredoka', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.textError {
    font-size: 1rem;
}

.fontText {
    font-family: 'Fredoka', sans-serif;
}